/* general styling */

html {
  font-size: 10px;
  height: 100%;
}

body {
	width: 100%;
	height: inherit;
}

canvas {
  background-color: white;
  display: block;
}

/* header styling */

h1 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 3rem;
  margin: 0;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}

/* button styling */


#activated {
  background-color: red;
  color: white;
}

.green {
  background-color: rgb(0, 255, 0);
  top: 6px;
  left: 5px;
}

.red {
  background-color: rgb(255, 0, 0);
  top: 41px;
  left: 5px;
}

.blue {
  background-color: rgb(0, 0, 255);
  top: 76px;
  left: 5px;
}

.orange {
  background-color: rgb(255, 101, 34);
  top: 111px;
  left: 5px;
}

.black {
  background-color: rgb(0, 0, 0);
  top: 146px;
  left: 5px;
}

.yellow {
  background-color: rgb(255, 238, 0);
  top: 181px;
  left: 5px;
}

.pink {
  background-color: rgb(248, 24, 148);
  top: 216px;
  left: 5px;
}


.start-message {
  position: absolute;
  font-size: 1.4rem;
  left: 5px;
}

.control-message {
  position: absolute;
  font-size: 1.4rem;
  top: 70px;
  left: 5px;
}
